/* src/style/ImagesStyles/dashboard.css */


/* Regla conflictiva para el LoginForm ya que deshabilita los inputs y botones, integrado por Marley   */

/* CONTENEDOR PRINCIPAL */
.hero-carousel-container {
  width: calc(100vw - var(--sidebar-width));
  margin-left: var(--sidebar-width);
  height: 100vh;
  overflow: hidden;
  /* transition: width 0.1s ease, margin-left 0.3s ease, height 0.2s ease; */
  /* transition: max-width 0.2s ease, margin-left 0.1s ease; */
}

/* CAROUSEL */
.hero-carousel {
  height: 100%;
}

/* IMAGEN HERO */
.imgcarousel {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* OVERLAY OSCURO */
.carousel-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

/* TEXTO */
.hero-caption {
  transform: translateY(-5%);
  z-index: 1;
}

.hero-caption h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;
}

.hero-caption p {
  font-size: 1rem;
  color: #ffffff;
}

/* BOTÓN */
.hero-btn {
  padding: 0.7rem 1.6rem;
  font-weight: 600;
  border-radius: 2px;
}

/* INDICADORES ESTILO  */
.hero-indicators button {
  width: 32px;
  height: 3px;
  background-color: #ffffff;
  opacity: 0.5;
}

.hero-indicators .active {
  opacity: 1;
}

/* CONTROLES */
.hero-control {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hero-carousel:hover .hero-control {
  opacity: 1;
}

/* ANIMACIÓN SUAVE */
.carousel-fade .carousel-item {
  transition: opacity 1.2s ease-in-out;
}

.carousel-item {
  position: relative;
}


/* Donde iria la parte que se expande */
.app-container.sidebar-collapsed .hero-carousel-container {
  width: calc(100vw - var(--sidebar-collapsed-width));
  margin-left: var(--sidebar-collapsed-width);
  transition: max-width 0.1s ease, margin-left 0.1s ease;
}

@media (max-width: 1265px) {

 /* 2) Fija el carousel como “pantalla completa” bajo el header */
  .main-content.full-carousel-container {
    position: fixed;
    /* saca del flujo, cubre viewport */
    top: 60px;
    /* altura real de tu header */
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    /* que no asome nada fuera */
    z-index: 10;
    /* por encima de contenido */
    transition: max-width 0.2s ease, margin-left 0.2s ease;
  }

  /* Esto donde ira la parte del texto */

  .hero-carousel-container {
    width: 100vw;
    margin-left: 0;
    height: calc(107vh - 65px);
  }

  .imgcarousel{
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }

  .hero-caption {
  transform: translateY(-20%);
  z-index: 1;
}

.hero-caption h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;
}

.hero-caption p {
  font-size: 1rem;
  color: #ffffff;
}
  


  /* 3) El carousel rellena ese espacio */
  .full-carousel {
    width: 100%;
    height: 100%;
  }

  .full-carousel .carousel-item {
    height: 100%;
  }

  .full-carousel .carousel-item .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  /* 4) Flechas y dots visibles */
  .carousel-control-prev,
  .carousel-control-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    top: 200%;
    transform: translateY(-50%);
  }


}



/* RESPONSIVE */
@media (max-width: 768px)  {

  /* 1) Oculta el sidebar */
  .sidebar-container {
    display: none !important;
  }

  /* 2) Fija el carousel como “pantalla completa” bajo el header */
  .main-content.full-carousel-container {
    position: fixed;
    /* saca del flujo, cubre viewport */
    top: 60px;
    /* altura real de tu header */
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    /* que no asome nada fuera */
    z-index: 10;
    /* por encima de contenido */
    transition: max-width 0.2s ease, margin-left 0.2s ease;
  }

  /* Esto donde ira la parte del texto */

  .hero-carousel-container {
    width: 100vw;
    margin-left: 0;
    height: calc(107vh - 65px);
  }

  .imgcarousel{
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }

  .hero-caption {
  transform: translateY(-20%);
  z-index: 1;
}

.hero-caption h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;
}

.hero-caption p {
  font-size: 1rem;
  color: #ffffff;
}
  


  /* 3) El carousel rellena ese espacio */
  .full-carousel {
    width: 100%;
    height: 100%;
  }

  .full-carousel .carousel-item {
    height: 100%;
  }

  .full-carousel .carousel-item .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  /* 4) Flechas y dots visibles */
  .carousel-control-prev,
  .carousel-control-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    top: 200%;
    transform: translateY(-50%);
  }
}
