.imgMuni {
    display: flex;
    /*Estandar para manipular el max-width*/
    flex-direction: column;
    /*Estandar para manipular el max-width*/
    max-width: 500px;
    margin-top: 90px;
    color: #044d40;
    
}

.main-content {
    background-color: transparent;
    margin-left: 240px;
    background-color: #fff;
}
.center-content {
 text-align: center;
}