.btn-contraseña {
    display: grid;
    justify-self: center;
    /*Si no esta en un div se usa el self*/
    border: none;
    background-color: #f25a1f;
    max-width: 450px;
    margin-bottom: 90px;
    font-weight: bold;
    text-align: center;
    

    /*El text align solo funciona con grid*/
}

.btn-contraseña:hover {
    background-color: #fa883d;
}

.form-container-contraseña {
    background-color: rgb(232, 231, 231);
    padding: 20px 0px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.form-container-contraseña>div {
    margin: 0px 19px;
}

.linea {
    margin: 0px 19px;
}

.divTitlecontra {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logoRegistro {
    max-width: 500px;
}

.logoMuni {
    display: flex;
    justify-self: center;
    margin-top: -50px;
}