.detalles-impuesto-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* Alinea el contenido hacia la parte superior */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: -535px;
    /* Ajusta este valor para mover el contenedor hacia arriba o abajo según sea necesario */
    width: 77%;
    /* Toma casi todo el ancho disponible, ajusta según sea necesario */
    max-width: 950px;
    /* Limita el ancho máximo */
    height: 100%;
    /* Ajusta la altura según el contenido */
    margin-left: 27%;
    /* Ajusta margen para centrar */
    border: 1px solid #d3d3d3;
    /* Borde gris claro */
    margin-top: 50px;

}


.btnFacturas {
    border-radius: 35px;
    background-color: #ff8a04;
    font-weight: bold;
    color: black;
}

.title {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.titlesss {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    margin-top: 14px;
    text-align: center;
    background-color: #adadad;
    /* Color de fondo */
    padding: 10px 300px;
    /* Ajusta el espaciado interno */
}

.title img {
    position: relative;
    right: 120px;
}

.details-table {
    width: 101%;
    max-width: 950px;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.details-table th,
.details-table td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}


.details-table th {
    background-color: #f04e23;
    color: white;
    text-align: center;
}

.details-table tr:hover {
    background-color: #f0f0f0;
}

.details-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}



.row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.row:last-child {
    border-bottom: none;
}

.column {
    width: 30%;
    /*Toma el 30% del ancho de la pantalla*/
}

.column label {
    display: block;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

.column p {
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px dashed #ddd;
    color: #333;
}