.detalles-impuesto-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* Alinea el contenido hacia la parte superior */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    margin-top: -535px;
    /* Ajusta este valor para mover el contenedor hacia arriba o abajo según sea necesario */
    width: 75%;
    /* Toma casi todo el ancho disponible, ajusta según sea necesario */
    max-width: 1200px;
    /* Limita el ancho máximo */
    height: 100%;
    /* Ajusta la altura según el contenido */
    margin-left: 23%;
    /* Ajusta margen para centrar */
    border: 1px solid #d3d3d3;
    /* Borde gris claro */
    margin-top: 33px;

}