/* src/components/EditarPerfil.css */

.editar-perfil-container {
  margin: 4rem auto;
  padding: 1.5rem;
  /* ahora la caja aprovechará hasta un 90% del ancho y nunca superará 600px */
  width: 90% ;
  max-width: 750px;
  border-radius: 1.3rem;
  box-shadow: 0 0.125rem 1.25rem rgba(0, 0, 0, 0.075);
  background-color: #fff;
}

.nav-tabs .nav-link {
  font-weight: 800;
  color: #6c757d;
}

.nav-tabs .nav-link:hover {
  color: #495057;
}

.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #d5d5d5;
  border-color: #dee2e6 #dee2e6 #fff;
}

.tab-content {
  background-color: #fff;
}
