.historialFacturas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* Alinea el contenido hacia la parte superior */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    gap: 1rem;
    margin-top: -535px;
    /* Ajusta este valor para mover el contenedor hacia arriba o abajo según sea necesario */
    width: 100%;
    /* Toma casi todo el ancho disponible, ajusta según sea necesario */
    max-width: 1000px;
    /* Limita el ancho máximo */
    height: 98%;
    /* Ajusta la altura según el contenido */
    margin-left: 20%;
    /* Ajusta margen para centrar */
    border: 1px solid #d3d3d3;
    /* Borde gris claro */
    margin-top: 63px;
    transition: max-width 0.2s ease, margin-left 0.1s ease;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #3B1F2B;
    margin-bottom: 20px;
    background-color: #f4f4f4;
    width: 101%;
    padding: 20px 200px;
    max-width: 950px;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

.buttonReset {
    background-color: #D65D00;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    margin-left: 10px;
}

.buttonReset:hover {
    background-color: #efefef;
    color: black;
}


.buttonInvoices {
    background-color: #D65D00;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    margin-left: 13px;
}

.buttonInvoices:hover {
    background-color: #efefef;
    color: black;
}

.logoMuni {
    display: flex;
    justify-content: center;
}

.selectInvoice,
.date-inicio,
.date-final {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%; /* 100% del grid cell */
    max-width: 100%;
    box-sizing: border-box;
}


/* Se utilizara estas reglas CSS para la tabla que se cargue en historial Facturas */

.details-table {
    width: 101%;
    max-width: 950px;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.details-table th {
    padding: 12px 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
}

.details-table td {
    padding: 10px 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 11px;
}


.details-table th {
    background-color: #9b3900;
    color: white;
    text-align: center;
}

.details-table tr:hover { background-color: #f0f0f0; }
.details-table tbody tr:nth-child(even) { background-color: #f9f9f9; }

.row { display: flex; justify-content: space-between; padding: 10px; border-bottom: 1px solid #ddd; }
.row:last-child { border-bottom: none; }
.column { width: 30%; }
.column label { display: block; font-weight: bold; color: #555; margin-bottom: 5px; }
.column p { margin: 0; padding: 5px 0; border-bottom: 1px dashed #ddd; color: #333; }

.historial-facturacion-container,
.date-range-container {
    width: 90%;
    margin-left: 18px;
}

.filters-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 12px;
    align-items: center;
}

.table-responsive-historial{
    width: 85%;
}
/* Boton de PDF */
.buttonPdf{
    background-color: #D65D00;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    margin-left: 10px;
    transition: all 0.2s;
    height: 30px;
    width: 40px;
}

.buttonPdf:hover {
    background-color: #9b3900;
    color: rgb(255, 255, 255);
}



/* ================================
        MEDIA QUERY
===================================*/

@media (max-width: 768px){
    .historialFacturas{
        flex: 1;
        width: calc(100% -2rem);
        padding: 1rem;
        margin: 4rem auto 1;
        max-width: none;
        box-sizing: border-box;
    }

    .details-table{
        width: 100% !important;
        max-width: 100%;
        font-size: 0.9rem;
    }

    .table-responsive-historial{
        width: 100%;
        overflow-x: auto;
       
    }

    .title{
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        width: 100%;
        max-width: 100%;
        text-align: center;
}

.historial-facturacion-container{
    flex: 1;
    width: calc(100% -2rem);
    padding: 1rem;
    margin: 4rem auto 1;
    max-width: none;
    box-sizing: border-box;
 }


}

@media (max-width: 1264px) {
    .historialFacturas{
        flex: 1;
        width: calc(100% -2rem);
        padding: 1rem;
        margin: 4rem auto 1.5rem;
        max-width: none;
        box-sizing: border-box;
    }
}