.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff8a04;

    color: white;
    padding: 5px 15px;
    font-size: 15px;
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;

    z-index: 1000;

}

.header-title {
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
}

.user-profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}


.user-icon {
    font-size: 20px;
    margin-right: 10px;
}


.user-name {
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
}

.chevron-icon {
    padding-right: 10px;
}