:root {
  
  --sidebar-width: 250px;
  --sidebar-collapsed-width: 80px;
}

.header {
  position: fixed;
  top: 0;
  left: var(--sidebar-width);
  right: 0;
  height: 50px;
  background-color: #e26c0c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  /* transition: left 0.3s ease, width 0.3s ease; */
  transition: left 0.5s ease;
  z-index: 999;
}



.header.collapsed {
  left: var(--sidebar-collapsed-width);
  /* width: calc(100% - var(--sidebar-collapsed-width)); */
}


/* Sección izquierda: hamburger */
.header-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-hamburger {
  font-size: 1.2em;
  color: #FFFFFF;
  cursor: pointer;
}

/* .header-toggle {
  font-size: 1.2em;
  color: #FFFFFF;
  cursor: pointer;
} */

.header-logo {
  font-size: 1.25em;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
}

/* Sección derecha: iconos y perfil */
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-wrapper {
  position: relative;
  font-size: 1.2em;
  color: #FFFFFF;
  cursor: pointer;
}

.icon-wrapper .badge {
  position: absolute;
  top: -4px;
  right: -6px;
  background-color: #e74c3c;
  color: #fff;
  border-radius: 50%;
  font-size: 10px;
  padding: 2px 5px;
}

/* Perfil de usuario */
.user-profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-profile .user-icon {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.user-name {
  margin: 0 8px;
  font-size: 14px;
  color: #FFFFFF;
}

/* Proceso de rotacion en la parte de dropdawn */
.chevron-icon {
  font-size: 0.75em;
  color: #FFFFFF;
  transition: transform 0.3s ease;
}

.chevron-icon.rotate {
  transform: rotate(180deg);
}


/* ========================= MEDIA QUERY ==================== */

@media(max-width: 768px) {
  .header {
    left: 0;
    width: 100%;
    transition: left 0.1s ease, width 0.2s ease;
  }

  .header.collapsed {
    left: 0;
    width: 100%;
    transition: left 0.1s ease, width 0.4s ease;
  }

  .user-name {
    display: none;
  }

  .user-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* separa avatar y chevron */
    margin-right: 0.5rem;

  }

  .header-hamburger {
    margin-left: 0.3rem;
  }
}

@media(max-width: 988px) {
  .header {
    left: 0;
    width: 100%;
    transition: left 0.1s ease, width 0.2s ease;
  }

  .header.collapsed {
    left: 0;
    width: 100%;
    transition: left 0.1s ease, width 0.2s ease;
  }

  .user-name {
    display: none;
  }

  .user-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* separa avatar y chevron */
    margin-right: 0.5rem;

  }

  .header-hamburger {
    margin-left: 0.3rem;
  }
}

@media (max-width: 1265px) {
 .header {
    left: 0;
    width: 100%;
    transition: left 0.1s ease, width 0.2s ease;
  }

  .header.collapsed {
    left: 0;
    width: 100%;
    transition: left 0.1s ease, width 0.4s ease;
  }

  .user-name {
    display: none;
  }

  .user-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* separa avatar y chevron */
    margin-right: 0.5rem;

  }

  .header-hamburger {
    margin-left: 0.3rem;
  } 
}