
.app-container {
  display: block;
  height: auto;
}

.sidebar-container {
  width: var(--sidebar-width, 240px);
  transition: width 0.5s ease;
}

.sidebar.collapsed {
  width: var(--sidebar-collapsed-width, )60px;
}

.app-container.sidebar-collapsed .detalles-impuesto-container {
  /* desplaza hacia la derecha el mismo ancho que ocupa el sidebar y un pequeño gutter */
  margin-left: calc(var(--sidebar-collapsed-width) + 15px);
  /* haz que pueda crecer más si es necesario, quitando el max-width fijo */
  max-width: none;
  margin-right: 15px;
}



.outlet-container {
 position: relative;
  min-width: 0;
  display: block;    
  overflow-y: visible;
  height: auto;
  min-height: auto;
  flex: initial;     
  padding: 0;
}

.main-content {
 display: block;   
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  flex: initial;   
  min-width: 0;
}


@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    position: relative;
  }

  .main-content {
    margin-left: 0;
    padding: 0;
  }
  
}
