.app-container {
  display: flex;
  height: 100vh;
}

.sidebar-container {
  width: var(--sidebar-width, 240px);
  transition: width 0.5s ease;
}

.sidebar.collapsed {
  width: var(--sidebar-collapsed-width, )60px;
}

.app-container.sidebar-collapsed .detalles-impuesto-container {
  /* desplaza hacia la derecha el mismo ancho que ocupa el sidebar y un pequeño gutter */
  margin-left: calc(var(--sidebar-collapsed-width) + 15px);
  /* haz que pueda crecer más si es necesario, quitando el max-width fijo */
  max-width: none;
  margin-right: 15px;
}



.outlet-container {
  flex: 1;
  overflow-y: auto;
  position: relative;
  z-index: 0;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  min-width: 0; /* crítico: permite que hijos se reduzcan/expandan correctamente */
  padding: 0;
  margin-left: 0;
}


@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    position: relative;
  }

  .main-content {
    margin-left: 0;
    padding: 0;
  }
  
}
