/* Estilos base */
.sidebar-container {
  position: fixed;
  /* Fija la barra lateral */
  top: 47px;
  left: 0;
  height: 100%;
  /* Asegúrate de que ocupe toda la altura */
  width: 305px;
  /* Ajusta el ancho según tus necesidades */
  background-color: #f0f0f0;
  /* Fondo claro */
  border-right: 3px solid #ddd;
  overflow-y: auto;
  /* Para manejar contenido desbordante */
  z-index: 1000;
  /* Asegúrate de que esté encima del contenido */
}

.sidebar {
  padding: 15px;
}

.sidebar-section {
  margin-bottom: 20px;
}

.section-title {
  font-size: 17px;
  font-weight: bold;
  color: #f25a1f;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.menu-list {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: none;
  /* Ocultar inicialmente */
  flex-direction: column;
}


.menu-list.show {
  display: flex;
  /* Muestra el submenú cuando está activo */
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #797979;
  text-decoration: none;
  transition: background-color 0.3s;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.menu-item:hover {
  background-color: #b9bfc5;
  color: #f25a1f;
}

.menu-icon {
  font-size: 1.2em;
}

.menu-icon:hover {
  color: white;
}

/* Adaptación para pantallas pequeñas */
@media (max-width: 768px) {
  .sidebar-container {
    width: 100%;
    /* Expande el sidebar en pantallas pequeñas */
    padding: 10px;
    margin-left: 0;
    /* Alinea el menú centrado */
  }

  .section-title {
    font-size: 1em;
  }

  .menu-item {
    font-size: 0.9em;
    padding: 8px;
  }

  .menu-icon {
    font-size: 1em;
  }
}

/*Modal*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.warning-icon {
  width: 50px;
  margin-bottom: 15px;
}

.modal-content h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.modal-content p {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
}

.ok-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ok-button:hover {
  background-color: #0056b3;
}